In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# import semua file csv per bulan Quater pertama tahun 2018 ke dataframe

df_jan = pd.read_csv(r"C:\Users\User\Documents\project_data\SampleData\2018\orderdata_Jan_2018.csv")

df_feb = pd.read_csv(r"C:\Users\User\Documents\project_data\SampleData\2018\orderdata_Feb_2018.csv")

df_mar = pd.read_csv(r"C:\Users\User\Documents\project_data\SampleData\2018\orderdata_Mar_2018.csv")

In [6]:
df = pd.concat([df_jan, df_feb, df_mar])

In [7]:
df

,id,Tanggal_Order,Waktu_Pesan,Nama_Pemesan,No_Resi,Produk,Kategori,Jumlah_Pesanan,Harga,Diskon,Total_Harga,Profit,Kota_Pengiriman - Media Pemesanan,Admin_Proses,Ekspedisi,Rating
0,1,2018/01/15,19:56:05,Karla Nissle,60512-6443,T-Shirt,NaN,9.0,NaN,NaN,NaN,NaN,Bandung - Instagram,Mark,Wahana,4.0
1,2,2018/01/05,17:50:33,Galen Janic,49349-424,NaN,NaN,24.0,NaN,NaN,NaN,NaN,Yogyakarta - Lazada,Mark,SiCepat,2.0
2,3,2018/01/13,20:52:39,Emma Beddoes,55926-0020,Oversized T-Shirt,NaN,9.0,NaN,13.0,NaN,NaN,Jakarta - Shopee,Mark,NaN,5.0
3,4,2018/01/27,4:52:12,Alane Morat,60681-2104,T-Shirt,NaN,8.0,NaN,NaN,NaN,NaN,NaN,Nami,Shopee Express,4.0
4,5,2018/01/04,18:50:42,Eugenie Jewis,63739-110,NaN,NaN,4.0,NaN,NaN,NaN,NaN,Depok - Lazada,Wanokuni,POS Indonesia,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,896,2018/03/08,2:25:01,Romonda Billion,0378-7155,Parka Jackets,NaN,1.0,NaN,5.0,NaN,NaN,Jakarta - Tiktok,Jeff,Tiki,4.0
896,897,2018/03/17,13:54:12,Christian Dulinty,52959-978,Oversized T-Shirt,NaN,25.0,NaN,9.0,NaN,NaN,Yogyakarta - Instagram,Rizal,POS Indonesia,3.0
897,898,2018/03/10,19:05:51,Arlie Braim,64725-1487,Oversized T-Shirt,NaN,11.0,NaN,13.0,NaN,NaN,Jakarta - Shopee,Rizal,NaN,3.0
898,899,2018/03/21,4:35:53,Naoma Woodyeare,49230-209,T-Shirt,NaN,22.0,NaN,NaN,NaN,NaN,Semarang - Website,Rizal,JNT,3.0
899,900,2018/03/10,4:38:57,Nesta Klehn,66472-025,Oversized T-Shirt,NaN,23.0,NaN,26.0,NaN,NaN,Bandung - Website,Wanokuni,Wahana,3.0

In [10]:
# Sekalian latihan exporting data

df.to_csv('hasil latihan eksport dataframe.csv')